<p style="color: green"><%= notice %></p>

<style>
table, th, td {
  border: 1px solid black;
}
.current {
  background-color: #F0DA84;
  color: #000000;
}
.current.asc::after {
  content: " /\\";
}
.current.desc::after {
  content: " \\/";
}

</style>

<h1>Movies</h1>

<div id="movies">
  <table>
    <thead>
      <tr>
        <th><%= sortable "title", "Title" %></th>
        <th><%= sortable "rating", "Rating" %></th>
        <th><%= sortable "release_date", "Release Date" %></th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date %></td>
          <td><%= link_to "Show this movie", movie %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"><%= button_to "New movie", new_movie_path, style: "background-color: cyan; color: black;"  %></td>
      </tr>
    </tfoot>
  </table>
</div>